<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.element.hydrogen.mapper.common.TreeRelMapper" >
  <resultMap id="BaseResultMap" type="com.element.hydrogen.entity.common.TreeRelEntity" >
    <id column="DON_TREE_REL_ID" property="donTreeRelId" jdbcType="VARCHAR" />
    <result column="MODULE" property="module" jdbcType="VARCHAR" />
    <result column="ID" property="id" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="P_ID" property="pId" jdbcType="VARCHAR" />
    <result column="P_NAME" property="pName" jdbcType="VARCHAR" />
    <result column="LEVEL" property="level" jdbcType="VARCHAR" />
    <result column="SEQ" property="seq" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="DATE" />
    <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    DON_TREE_REL_ID, MODULE, ID, NAME, P_ID, P_NAME, LEVEL, SEQ, REMARK, CREATE_BY, CREATE_DATE, 
    UPDATE_BY, UPDATE_DATE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from don_tree_rel
    where DON_TREE_REL_ID = #{donTreeRelId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from don_tree_rel
    where DON_TREE_REL_ID = #{donTreeRelId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.element.hydrogen.entity.common.TreeRelEntity" >
    insert into don_tree_rel (DON_TREE_REL_ID, MODULE, ID, 
      NAME, P_ID, P_NAME, LEVEL, 
      SEQ, REMARK, CREATE_BY, 
      CREATE_DATE, UPDATE_BY, UPDATE_DATE
      )
    values (#{donTreeRelId,jdbcType=VARCHAR}, #{module,jdbcType=VARCHAR}, #{id,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{pId,jdbcType=VARCHAR}, #{pName,jdbcType=VARCHAR}, #{level,jdbcType=VARCHAR}, 
      #{seq,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=DATE}, #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.element.hydrogen.entity.common.TreeRelEntity" >
    insert into don_tree_rel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="donTreeRelId != null" >
        DON_TREE_REL_ID,
      </if>
      <if test="module != null" >
        MODULE,
      </if>
      <if test="id != null" >
        ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="pId != null" >
        P_ID,
      </if>
      <if test="pName != null" >
        P_NAME,
      </if>
      <if test="level != null" >
        LEVEL,
      </if>
      <if test="seq != null" >
        SEQ,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="createBy != null" >
        CREATE_BY,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="updateBy != null" >
        UPDATE_BY,
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="donTreeRelId != null" >
        #{donTreeRelId,jdbcType=VARCHAR},
      </if>
      <if test="module != null" >
        #{module,jdbcType=VARCHAR},
      </if>
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="pId != null" >
        #{pId,jdbcType=VARCHAR},
      </if>
      <if test="pName != null" >
        #{pName,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=VARCHAR},
      </if>
      <if test="seq != null" >
        #{seq,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=DATE},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.element.hydrogen.entity.common.TreeRelEntity" >
    update don_tree_rel
    <set >
      <if test="module != null" >
        MODULE = #{module,jdbcType=VARCHAR},
      </if>
      <if test="id != null" >
        ID = #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="pId != null" >
        P_ID = #{pId,jdbcType=VARCHAR},
      </if>
      <if test="pName != null" >
        P_NAME = #{pName,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        LEVEL = #{level,jdbcType=VARCHAR},
      </if>
      <if test="seq != null" >
        SEQ = #{seq,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=DATE},
      </if>
      <if test="updateBy != null" >
        UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE = #{updateDate,jdbcType=DATE},
      </if>
    </set>
    where DON_TREE_REL_ID = #{donTreeRelId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.element.hydrogen.entity.common.TreeRelEntity" >
    update don_tree_rel
    set MODULE = #{module,jdbcType=VARCHAR},
      ID = #{id,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      P_ID = #{pId,jdbcType=VARCHAR},
      P_NAME = #{pName,jdbcType=VARCHAR},
      LEVEL = #{level,jdbcType=VARCHAR},
      SEQ = #{seq,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      CREATE_BY = #{createBy,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=DATE},
      UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      UPDATE_DATE = #{updateDate,jdbcType=DATE}
    where DON_TREE_REL_ID = #{donTreeRelId,jdbcType=VARCHAR}
  </update>

  <select id="query" parameterType="com.element.hydrogen.entity.common.TreeRelEntity" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from don_tree_rel
    where DON_TREE_REL_ID = #{donTreeRelId,jdbcType=VARCHAR}
  </select>

  <select id="queryByModule" parameterType="com.element.hydrogen.entity.common.TreeRelEntity" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from don_tree_rel
    where MODULE = #{module,jdbcType=VARCHAR}
  </select>
</mapper>