HELP.md
target/
!.mvn/wrapper/
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Editor directories and files
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
/hydrogen/.mvn/wrapper/maven-wrapper.properties
/hydrogen/.mvn/wrapper/maven-wrapper.jar
/hydrogen/.mvn/wrapper/MavenWrapperDownloader.java
/hydrogen/out/artifacts/hydrogen_jar/hydrogen_jar.jar
